.site-header {
	padding:22px 0;
	// background-color: rgb(223, 241, 245);

	&__main-menu {

		nav {
			display: grid;
			grid-auto-flow: column;
			align-content: space-between;
			align-items: center;
			height: auto;
			grid-template-columns: 1fr;
    			grid-gap: 50px;

			.logo {
				text-decoration: none;
				color:#000;
			}

			ul {
				list-style-type: none;
				margin: 0 0 0 auto;
				padding:0;
				display: flex;

				li {
					padding:8px 25px;
					
					a {
						font-family: $misc-font;
						font-size:14px;
						font-weight: bold;
						text-decoration: none;
						color:#000;
						// text-transform: uppercase;
						min-width: 95px;
						position: relative;

						/* &:after {
							content:"";
							position: absolute;
							bottom:-5px;
							left:0;
							right:0;
							height:3px;
							background-color: $icon-btn-colour;
							width: 0%;
							margin:auto;
							transition: all ease-in-out .15s;
							border-radius: 15%;
						} */

						&:hover {
							color: $icon-btn-colour-text;
							
							&:after {
								width: 100%;
							}

							transition: all ease-in-out .15s;
						}

						&.active {
							color: $icon-btn-colour-text;
						}

						transition: color ease-in-out .15s;
					}
				}
			}

			.nav-sign-in {
				margin: 0 0 0 auto;
			}
		}
	}
}