body {
	margin:0;
	padding: 0;
	background-color: $site-bg-colour;
}

h1, h2, h3 {
	margin:4px 0 9px 0;
	font-family: $h-font;
}

h1 {
	font-size:32px;
}

h2 {
	font-size:26px;
}

h3 {
	font-size:22px;
}

p {
	margin:3px 0 6px 0;
	font-family: $p-font;
	font-size:14.5px;
}

.container {
	padding:0 10px;
	max-width: 100%;
	width: 1250px;
	margin:auto;
	box-sizing: border-box;

	@media screen and (max-width: 980px) {
		width:950px;
	}

	@media screen and (max-width: 730px) {
		width: 710px;
	}

	@media screen and (max-width: 600px) {
		width: 100%;
	}
}