$site-bg-colour: rgb(245,245,245);
$icon-btn-colour: rgb(1,221,166);
$icon-btn-colour-text: rgb(21, 190, 147);
$white: rgb(255, 255, 255);

$h-font: 'Montserrat';
$p-font: 'Nunito';
$misc-font: 'Open Sans';