$site-bg-colour: rgb(245,245,245);
$icon-btn-colour: rgb(12, 178, 136);
$icon-btn-colour-text: rgb(14, 145, 112);
$white: rgb(255, 255, 255);

$h-font: 'Montserrat';
$p-font: 'Nunito';
$misc-font: 'Open Sans';